{% extends 'layouts/base.html' %}

{% block content %}
    <div class="card-body">
        <h4 class="card-title">Name: {{ object.name }}</h4>
        <h4>Age: {{ object.age }}</h4>
        <h4>Salary: $ {{ object.salary }}</h4>
        {#        <p>{{ object.description|safe }}</p>#}
        {#  object.description|safe => safe is used cuz of image within ckeditor (HTML)  #}
        <a href="/">
            <button class="btn btn-success btn-sm" type="button">Back</button>
        </a>
    </div>
{% endblock %}